.container-5 {
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

/* https://ie2-gfebf.cdnppb.net/mexchangeblackjack/turbo/17/assets/gameView/tabBackground.png?v17 */
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background: url('https://media.istockphoto.com/photos/poker-table-picture-id1046326882?k=6&m=1046326882&s=612x612&w=0&h=FWwERAhFegLxTvxXw2uEyDg1ua1DiV-bXImf9ENaXDg=');
    background-size: cover;
    color: #fff;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}

.flex-blackjack-row-1 img {
    width: 25%; 
    padding: 10px;
}

.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}



/* .flex-box-container-2 img {
    width: 200px;
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}  */